In [50]:
# Import Dependencies
import pandas as pd
import os

In [51]:
bitcoin_csv = os.path.join("Resources", "bitcoin_cash_price.csv")
dash_csv = os.path.join ("Resources", "dash_price.csv")

In [52]:
bitcoin_df = pd.read_csv(bitcoin_csv).set_index("Date")
dash_df = pd.read_csv(dash_csv).set_index("Date")

In [53]:
bitcoin_df.head()

             Open    High     Low   Close       Volume     Market Cap
Date
17-Sep-17  438.90  438.90  384.06  419.86  221828000.0  7,279,520,000
16-Sep-17  424.49  450.98  388.20  440.22  313583000.0  7,039,590,000
15-Sep-17  369.49  448.39  301.69  424.02  707231000.0  6,126,800,000
14-Sep-17  504.22  510.47  367.04  367.04  257431000.0  8,359,650,000
13-Sep-17  509.47  519.20  471.22  503.61  340344000.0  8,445,540,000

In [54]:
dash_df.head()

             Open    High     Low   Close      Volume     Market Cap
Date
17-Sep-17  298.59  315.58  278.17  313.84  38081600.0  2,257,850,000
16-Sep-17  284.50  301.23  276.57  298.86  43702600.0  2,150,800,000
15-Sep-17  236.05  300.11  220.51  284.36  72695500.0  1,784,040,000
14-Sep-17  301.11  303.74  236.24  236.24  35013800.0  2,275,100,000
13-Sep-17  324.72  325.16  287.25  301.29  28322500.0  2,452,930,000

In [55]:
df = pd.merge(bitcoin_df,dash_df, left_index=True, right_index=True, suffixes = ("_bitcoin", "_dash"))

In [56]:
df.head()

,Open_bitcoin,High_bitcoin,Low_bitcoin,Close_bitcoin,Volume_bitcoin,Market Cap_bitcoin,Open_dash,High_dash,Low_dash,Close_dash,Volume_dash,Market Cap_dash
Date,,,,,,,,,,,,
17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [67]:
Market = df[["Open_bitcoin", "Open_dash", "Close_bitcoin", "Close_dash"]].max()

In [68]:
Total_value = df[["Volume_bitcoin", "Volume_dash"]].sum()

# Cryptocurrency summary

In [71]:
frames = [Market, Total_value]

df = pd.concat(frames)

In [72]:
df

Open_bitcoin      7.724200e+02
Open_dash         4.004200e+02
Close_bitcoin     7.545600e+02
Close_dash        3.998500e+02
Volume_bitcoin    2.438305e+10
Volume_dash       2.960278e+09
dtype: float64